<div class="edit-task-container" *ngIf="task">
  <div class="edit-task-wrapper">
    <h1>Edit Task: {{ task.name }}</h1>
    <form (ngSubmit)="onSubmit()" class="form">
      <div class="input-container">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="task.name"
          required
        />
      </div>

      <div class="input-container">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          [(ngModel)]="task.description"
          required
        ></textarea>
      </div>

      <div class="input-container">
        <label for="startDate">Start Date</label>
        <input
          type="date"
          id="startDate"
          name="startDate"
          [(ngModel)]="task.startDate"
          required
        />
      </div>

      <label for="completed" [ngClass]="{'checked': task.completed, 'pending': !task.completed}">
        {{ task.completed ? "Completed" : "Pending" }}
        <input type="checkbox" id="completed" name="completed" class="checkbox" [(ngModel)]="task.completed">
      </label>

      <button class="submit-btn" type="submit">Save Changes</button>
    </form>
  </div>
</div>
<div *ngIf="!task">
  <p>Loading Task...</p>
</div>
